.cardListButton {
    position: relative;
}

.mycardContainer {
    position: relative;
    top: 75px;
    text-align: center;
    width: 1000px;
    margin: auto;
    padding-bottom: 150px;
}

.mycardTitle {
    margin-top: 50px;
    font-size:xx-large;
}

.cardListButton, .cardAnimeButton, .cardAnimeButton {
    margin: 20px;
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-flow: column;
	font-family: 微軟正黑體;
	height: 100%;
    background-color: #F0EBE2;
}

body::-webkit-scrollbar {
    display: none;
}