        /* Structure */

        .newReleaseIcon {
            height: auto;
            width: 50%;
            display: block;
            margin: auto;
        }

        .inputSubmit {
            background: #fff;
            height: 2.75rem;
            margin: 1em auto auto;
            width: 100%;
            border-radius: 5px;
            font-size: 20px;
        }

        @media (min-width: 768px) {
            .inputSubmit {
                background: #fff;
                bottom: 2.75rem;
                left: 2.55rem;
                height: 2.75rem;
                padding: 0 3rem;
                /* position: absolute; */
            }
        }

        input[type=email],
        input[type=text] {
            height: 1.5rem;
            margin: 0 0 1.15rem;
            width: 100%;
        }

        figure {
            overflow: hidden;
            position: relative;
            width: 80%;
        }

        @media (min-width: 768px) {
            figure {
                float: left;
                height: 100%;
                position: relative;
                width: 40%;
            }
        }

        picture {
            height: 600px;
            display: flex;
        }

        form {
            overflow: hidden;
            padding: 10%;
            position: relative;
            width: 100%;
            height: 100%;
        }

        @media (min-width: 768px) {
            form {
                float: left;
                height: 100%;
                padding: 50px;
                width: 60%;
            }
        }

        main {
            margin: 30px auto auto;
            overflow: hidden;
            position: relative;
            width: 90%;
        }

        @media (min-width: 768px) {
            main {
                /* height: 21.25rem; */
                left: 50%;
                margin: auto;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 45%;
                width: 800px;
                height: 100%;
            }
        }

        .headline {
            /* position: absolute; */
            /* top: 8vw; */
            width: 100%;
        }

        @media (min-width: 768px) {
            .headline {
                /* position: absolute; */
                top: 3.4rem;
                width: 50%;
            }
        }

        /* Skin */

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #74bdb7;
            font: 700 16px 'Montserrat', sans-serif;
        }

        input[type=email],
        input[type=text] {
            background: none;
            border: none;
            border-bottom: 2px solid #74bdb7;
            box-sizing: border-box;
            outline: none;
        }

        input[type=email]:required,
        input[type=text]:required {
            box-shadow: none;
            outline: none;
        }

        .inputSubmit {
            background: #f37b56;
            border: none;
            color: #fff;
            padding: 0 2rem;
            font: 700 1rem 'Montserrat';
            text-align: center;
        }

        .inputSubmit:hover,
        .inputSubmit:focus {
            background: #f79577;
            cursor: pointer;
            outline: none;
        }

        .inputs--filled label {
            transform: translate(0, 0);
        }

        .inputs--invalid input {
            animation: shake 0.3s cubic-bezier(.36, .07, .19, .97) both;
            background: url(//my-assets.netlify.com/codepen/dailyui-001/ico-invalid.svg) center right no-repeat;
            border-bottom: 2px solid #f37b56;
            box-shadow: none;
            color: #f37b56;
            transform: translate3d(0, 0, 0);
        }

        @keyframes shake {

            0%,
            100% {
                transform: translate3d(0, 0, 0);
            }

            33% {
                transform: translate3d(-6px, 0, 0);
            }

            66% {
                transform: translate3d(6px, 0, 0);
            }
        }

        .inputs--invalid label {
            color: #f37b56;
        }

        label {
            display: inline-block;
            transform: translate(0, 1.25rem);
            transition: 0.15s;
        }

        main {
            background: #f9f6ed;
            border-radius: 0.25rem;
            box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
            height: 600px;
        }

        .text-headline {
            color: #74bdb7;
            letter-spacing: 0.4rem;
            font: 700 1.4em 'Montserrat';
            text-align: center;
            text-transform: uppercase;
            margin: 30px;
        }

        @media (min-width: 768px) {
            .text-headline {
                font: 700 1.625rem 'Montserrat';
                margin: 30px;
            }
        }

        .text-body {
            color: #354c58;
            font: 700 16px 'Montserrat', sans-serif;
        }

        .text-small-uppercase {
            color: #74bdb7;
            font: 700 1rem 'Montserrat';
            letter-spacing: .08rem;
            text-transform: uppercase;
        }

        .text-subheadline {
            color: #f37b56;
            left: -.17rem;
            letter-spacing: .143rem;
            font: 700 0.652rem 'Montserrat';
            margin-bottom: 1.5rem;
            position: relative;
            text-align: center;
            text-transform: uppercase;
        }

        @media (min-width: 768px) {
            .text-subheadline {
                font: 700 0.75rem 'Montserrat';
            }
        }

        .form-select {
            border-color: #74bdb7;
        }

        .backButton {
            position: relative;
            top: 150px;
            left: 300px;
            width: 200px;
            height: 100px;
        }
        

        /* radio */

        @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

        * {
            box-sizing: border-box;
            font-family: 'Lato', sans-serif;
        }


        .wrapper {
            display: flex;
            height: 50px;
            width: 200px;
            border-radius: 5px;
            /* padding: 20px 15px; */
        }

        .wrapper .option {
            position: absolute;
            bottom: 200px;
            background: #fff;
            height: 40px;
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 5px;
            cursor: pointer;
            padding: 0 10px;
            border: 2px solid lightgrey;
            transition: all 0.3s ease;
        }

        .wrapper .option .dot {
            height: 20px;
            width: 20px;
            background: #d9d9d9;
            border-radius: 50%;
            position: relative;
        }

        .wrapper .option .dot::before {
            position: absolute;
            content: "";
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            background: #74bdb7;
            border-radius: 50%;
            opacity: 0;
            transform: scale(1.5);
            transition: all 0.3s ease;
        }

        input[type="radio"] {
            display: none;
        }

        #option-1:checked:checked~.option-1,
        #option-2:checked:checked~.option-2 {
            border-color: #74bdb7;
            background: #74bdb7;
        }

        #option-1:checked:checked~.option-1 .dot,
        #option-2:checked:checked~.option-2 .dot {
            background: #fff;
        }

        #option-1:checked:checked~.option-1 .dot::before,
        #option-2:checked:checked~.option-2 .dot::before {
            opacity: 1;
            transform: scale(1);
        }

        .wrapper .option span {
            font-size: 18px;
            color: #808080;
        }

        #option-1:checked:checked~.option-1 span {
            color: #fff;
        }

        .fa-arrow-left-long{
            color: #74bdb7;
        }

        .fa-stopwatch {
            position: absolute;
            right: 50px;
            color: #74bdb7;
        }